<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THIS IS A TEST</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div>
        <main>
            <h1>Testing testing testint</h1>
            {{range .Paths}}
                <div>
                A photo
                    <a href="#">
                    <img src="{{.}}">
                    </a>
                </div>
            {{end}}
        </main>
        <hr>
        <div>
            <div>
            <form method="post" enctype="multipart/form-data">
                <div>
                    <div>
                        <span>Upload</span>
                    </div>
                <div>
                    <input type="file" name="nf" aria-describedby="inputGroupFileAddon01" required> 
                    <label for="inputGroupFile01">Choose file</label>	
            </div>
        </div>
            <div>
                <div>
                    <input type="submit">
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>

</body>
</html>